<html>
<head>
	<% include partials/template/head.ejs %>
</head>
<body>
<div id='header'>
</div>

<div id='container'>
	<%if (projectData.imageshape!='pano'){ %>

		<div id="illustration" class='<%= projectData.imageshape %>' style='background-image: url(/images/<%= projectData.imagebase %>.jpg);'>
				<div class='gradient'>
					<div class='label'>
						<h3>
						<a href='https://twitter.com/drawinghands'>@drawinghands</a>
						</h3>
					</div>
				</div>
			<img src='/images/<%= projectData.imagebase %>.jpg'/>
		</div>

		<div id="about">
			<div class='label'>
				<h3 <% if (projectData.detail==''){ %>class="noDetail"<% } %>>
					<%= projectData.category %>
				</h3>
			</div>

			<% if (projectData.detail){ %>
				<div id='detail' >
					<img src='/images/<%= projectData.detail %>' />
				</div>
			<% } %>

			<h1><%= projectData.title %></h1>
			<h2 class='summary'><%= projectData.summary %></h2>
			<div class="description<% if ( projectData.singlecolumn == "TRUE"){ %> singleColumn<% } %>">
				<%- projectData.descriptionSplit %>
			</div>
		</div>
		<a href='' id='prev'><div></div></a>
		<a href='' id='next'><div></div></a>

	<% } else {%>

		<div id="illustration" class='pano' style='background-image: url(/images/<%= projectData.imagebase %>.jpg);'>
			<img src='/images/<%= projectData.imagebase %>.jpg' style=''/>
			<div id='swipe'></div>
		</div>
		<div id="about" class='pano'>
			<div class='label'>
				<h3 <% if (projectData.detail==''){ %>class="noDetail"<% } %>>
					<%= projectData.category %>
				</h3>
			</div>
			<h1><%= projectData.title %></h1>
			<h2 class='summary'><%= projectData.summary %></h2>
			<div class="description <% if ( projectData.singlecolumn == true){ %> singleColumn<% } %>">
				<%- projectData.descriptionSplit %>
			</div>
		</div>
		<a href='' id='prev'><div></div></a>
		<a href='' id='next'><div></div></a>

	<% }%>

</div>
<% include partials/template/scripts.ejs %>
<script type="text/javascript">
	$('#prev').prop('href', '<%= previousProject %>');
	$('#next').prop('href', '<%= nextProject %>');
</script>

</body>
</html>