<!DOCTYPE html>
<html>
<head>
	<% include partials/template/headProject.ejs %>
	<style type="text/css">
	</style>
</head>
<body id='portfolio'>

<div id='container'>
	<div id='header' <%if (projectData.imageshape!='pano'){ %> class='pano' <% } %> >
			<div class='menuBox'>
				<p style='max-width: 700px; margin: 0 auto;'><img src="<%- data[0].mugshot %> " style="float: left; margin-right: 15px">
						<%- description %>
				</p>
			</div>
			<div class='label'>
				<h3 <% if (projectData.detail==''){ %>class="noDetail"<% } %>>
					Brian Williamson<br/><span class='tag'><%= projectData.category %></span>
				</h3>
			</div>
	</div>

	<%if (projectData.imageshape!='pano'){ %>

		<div id="illustration" class='<%= projectData.imageshape %>' style='background-image: url(/images/<%= projectData.imagebase %>.jpg);'>
				<div class='gradient'>
				</div>
			<img src='/images/<% if (projectData.imagemobilealt==''){ %><%= projectData.imagebase %><%}else{ %><%= projectData.imagemobilealt %><% } %>.jpg' alt='<%= projectData.alttag %>'/>
		</div>
		<div class='clearAllMobile'></div>

		<div id="about">
			<div class='menuBox'>
				<p><img src="<%- data[0].mugshot %> " style="float: left; margin-right: 15px">
						<%- description %>
				</p>
			</div>
			<div class='label'>
				<h3 <% if (projectData.detail==''){ %>class="noDetail"<% } %>>
					Brian Williamson<br/><span class='tag'><%= projectData.category %></span>
				</h3>
			</div>
			<% if (projectData.employer){ %>
				<div class='credit'><div><%= projectData.employer %></div></div>
			<% } else {%>
				<div class='credit'><div>Brian Williamson</div></div>
			<% } %>


			<% if (projectData.detail){ %>
				<div id='detail' >
					<img src='/images/<%= projectData.detail %>' />
				</div>
			<% } %>

			<h1 class='balance-text'><%= projectData.title %></h1>
			<h2 class='summary balance-text'><%= projectData.summary %></h2>
			<div class="description<% if ( projectData.singlecolumn == "TRUE"){ %> singleColumn<% } %>">
				<%- projectData.descriptionSplit %>
			</div>

<% include partials/template/menu.ejs %>

		</div>
		<a href='<%= previousProject %>' id='prev'><div></div></a>
		<a href='<%= nextProject %>' id='next'><div></div></a>

	<% } else {%>

		<div class='gradientPano'>
		</div>
		<div id="illustration" class='pano' style='box-shadow: 0 0 5px #333;'>
			<img src='/images/<%= projectData.imagebase %>.jpg' alt='<%= projectData.alttag %>'/>
		</div>

		<div id='swipe' style=''>Swipe to explore <span class='hideMobile'>this panoramic image</span></div>

		<div id="about" class='pano'>
			<% if (projectData.employer){ %>
				<div class='credit'><div><%= projectData.employer %></div></div>
			<% } else {%>
				<div class='credit'><div>Brian Williamson</div></div>
			<% } %>

			<h1 class='balance-text'><%= projectData.title %></h1>
			<h2 class='summary balance-text'><%= projectData.summary %></h2>
			<div class="description <% if ( projectData.singlecolumn == true){ %> singleColumn<% } %>">
				<%- projectData.descriptionSplit %>
			</div>
			<!--
			<% if (projectData.detail){ %>
				<div id='detail' style='max-width:700px; margin: 0 auto;'>
					<img src='/images/<%= projectData.detail %>' style='width: 100%; height:auto;'/>
				</div>
			<% } %>
			-->
<% include partials/template/menu.ejs %>

		</div>
		<a href='<%= previousProject %>' id='prev'><div></div></a>
		<a href='<%= nextProject %>' id='next'><div></div></a>

	<% }%>
</div><!-- container -->
<% include partials/template/scripts.ejs %>
<script type="text/javascript">

	//Dropdown navigation
	$("#about h3" ).click(function() {
		$( "#about .menuBox" ).slideToggle("drop");
	});
	$("#header h3" ).click(function() {
		$( "#header .menuBox" ).slideToggle("drop");
	});


	<% if (projectData.imageshape=='pano') {%>
		function scrollPano(){
			var imageWidthTest = $("#illustration img").width();

			var percent = <%=projectData.panostartpercentage %>
			var scrollPercentage = imageWidthTest * percent;

			$('#illustration').animate({scrollLeft: scrollPercentage}, 1000);
		}

		var scrollStart = <%=projectData.panostartpercentage %>

		function scrollPano(scrollPercentageNumber){
			var imageWidthTest = $("#illustration img").width();

			var percent = scrollPercentageNumber;
			var scrollPercentage = imageWidthTest * percent;

			$('#illustration').animate({scrollLeft: scrollPercentage}, 1000);
		}

		$(window).load( function() {
			scrollPano(scrollStart);
		});
		$('#swipe').click(function(){
			var randomPercent = Math.random();
			scrollPano(randomPercent);
		})

	<% } %>

</script>

</body>
</html>