<html>
<head>
	<% include partials/template/head.ejs %>
	<style type="text/css">
	</style>
</head>
<body>

<div id='container'>
	<div id='header' <%if (projectData.imageshape!='pano'){ %> class='pano' <% } %> >
			<div class='menuBox'>
				<p style='max-width: 700px; margin: 0 auto;'><img src="<%- data[0].mugshot %> " style="float: left; margin-right: 15px">
						<%- description %>
				</p>
			</div>
			<div class='label'>
				<h3 <% if (projectData.detail==''){ %>class="noDetail"<% } %>>
					drawing-hands<br/><span style='font-weight:normal; font-size: .8em;'><%= projectData.category %></span>
				</h3>
			</div>
	</div>

	<%if (projectData.imageshape!='pano'){ %>

		<div id="illustration" class='<%= projectData.imageshape %>' style='background-image: url(/images/<%= projectData.imagebase %>.jpg);'>
				<div class='gradient'>
				</div>
			<img src='/images/<%= projectData.imagebase %>.jpg'/>
		</div>

		<div id="about">
			<div class='menuBox'>
				<p><img src="<%- data[0].mugshot %> " style="float: left; margin-right: 15px">
						<%- description %>
				</p>
			</div>
			<div class='label'>
				<h3 <% if (projectData.detail==''){ %>class="noDetail"<% } %>>
					drawing-hands<br/><span style='font-weight:normal; font-size: .8em;'><%= projectData.category %></span>
				</h3>
			</div>

			<% if (projectData.detail){ %>
				<div id='detail' >
					<img src='/images/<%= projectData.detail %>' />
				</div>
			<% } %>

			<h1 class='balance-text'><%= projectData.title %></h1>
			<h2 class='summary balance-text'><%= projectData.summary %></h2>
			<div class="description<% if ( projectData.singlecolumn == "TRUE"){ %> singleColumn<% } %>">
				<%- projectData.descriptionSplit %>
			</div>

			<div id='menuBar'>
				<ul>
					<a href='http://visualjournali.st'><li>Journalism</li></a>
					<a href='http://designasprocess.com'><li>Old site</li></a>
					<a href='https://twitter.com/drawinghands'><li>Twitter</li></a>
					<a href='https://www.linkedin.com/in/visualjournalist'><li>LinkedIn</li></a>
				</ul>
			</div>
		</div>
		<a href='' id='prev'><div></div></a>
		<a href='' id='next'><div></div></a>

	<% } else {%>

		<div id="illustration" class='pano' style='box-shadow: 0 0 5px #333;'>
			<img src='/images/<%= projectData.imagebase %>.jpg' style=''/>
			<div id='swipe'>Swipe to explore this panoramic image</div>
		</div>
		<div id="about" class='pano'>
			<!--
			<div class='menuBox'>
				<p style='max-width: 700px; margin: 0 auto;'><img src="<%- data[0].mugshot %> " style="float: left; margin-right: 15px">
					<%- description %>
				</p>
			</div>
			<div class='label'>
				<h3 <% if (projectData.detail==''){ %>class="noDetail"<% } %>>
					drawing-hands<br/><span style='font-weight:normal; font-size: .8em;'><%= projectData.category %></span>
				</h3>
			</div>
		-->
			<h1 class='balance-text'><%= projectData.title %></h1>
			<h2 class='summary balance-text'><%= projectData.summary %></h2>
			<div class="description <% if ( projectData.singlecolumn == true){ %> singleColumn<% } %>">
				<%- projectData.descriptionSplit %>
			</div>
	
			<div id='menuBar'>
				<ul>
					<a href='http://visualjournali.st'><li>VisualJournali.st</li></a>
					<a href='http://designasprocess.com'><li>Old portfolio</li></a>
					<a href='https://twitter.com/drawinghands'><li>Twitter</li></a>
					<a href='https://www.linkedin.com/in/visualjournalist'><li>LinkedIn</li></a>
				</ul>
			</div>

		</div>
		<a href='' id='prev'><div></div></a>
		<a href='' id='next'><div></div></a>

	<% }%>
</div>
<% include partials/template/scripts.ejs %>
<script type="text/javascript">
	$('#prev').prop('href', '/<%= previousProject %>');
	$('#next').prop('href', '/<%= nextProject %>');

	//Dropdown navigation
	$("#about h3" ).click(function() {
		$( "#about .menuBox" ).slideToggle("drop");
	});
	$("#header h3" ).click(function() {
		$( "#header .menuBox" ).slideToggle("drop");
	});


	<% if (projectData.imageshape=='pano') {%>
		console.log('pano auto scroll')

		$(document).ready( function() {
			console.log('pano auto scroll')
			var imageWidthTest = $("#illustration img").width();

			var percent = <%=projectData.panostartpercentage %>
			var scrollPercentage = imageWidthTest * percent;

			$('#illustration').animate({scrollLeft: scrollPercentage}, 1000);
		});

	<% } %>

</script>

</body>
</html>