<!DOCTYPE html>
<html>
	<head>
		<% include partials/template/head.ejs %>
<style type="text/css">
.red {background-color: #900;}
.orange {background-color: orange;}
.green {background-color: green;}
.blue {background-color: blue;}

.square{
	/*
	width: 80px; 
	height: 80px; 
	*/
	padding:0;
	margin:0; 
	display: block; 
	/*background-image:url(/images/square_alphabet.jpg);*/
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center center; 
}
.square img{
	width: 80px;
	height: auto;
}
@media (min-width: 350px) {
	.square{
		width: 33.33%; 
		/*height: 100px; */
		height: auto; 
		float:left;
	}
	.square img{
		width: 100%;
		height: auto;
	}

}

@media (min-width: 500px) {
	.square{
		/*height: 125px;*/
	}
}

@media (min-width: 700px) {
	.square{
		width: 25%;
		/*height: 200px;*/
	}
}

@media (min-width: 900px) {
	.square{
		width: 33.3%; 
		height: 25%;
	}
	/*#container{width: 50%; margin:0 auto 0 0; float: left; height: 100%;}*/
}
@media (min-width: 1200px){
}

</style>
	</head>
	<body>

		<div id='container'>
			<div id='header' <%if (projectData.imageshape!='pano'){ %> class='pano' <% } %> >
				<div class='menuBox'>
					<p style='max-width: 700px; margin: 0 auto;'><img src="<%- data[0].mugshot %> " style="float: left; margin-right: 15px">
							<%- description %>
					</p>
				</div>
				<div class='label'>
					<h3>drawing-hands<br/><span style='font-weight:normal; font-size: .8em;'><%= projectData.category %></span>
					</h3>
				</div>
			</div>


			<div id="illustration">
				<div class='gradient'>
				</div>
				<%- grid %>
			</div>
			<div class='clearAllMobile'></div>
			<div id="about">
				<div class='menuBox'>
					<p><img src="<%- data[0].mugshot %> " style="float: left; margin-right: 15px">
							<%- description %>
					</p>
				</div>
				<div class='label'>
					<h3 <% if (projectData.detail==''){ %>class="noDetail"<% } %>>
						drawing-hands<br/><span style='font-weight:normal; font-size: .8em;'><%= projectData.category %></span>
					</h3>
				</div>

				<% if (projectData.detail){ %>
					<div id='detail' >
						<img src='/images/<%= projectData.detail %>' />
					</div>
				<% } %>

				<h1 class=''><%= projectData.title %></h1>
				<h2 class='summary balance-text'><%= projectData.summary %></h2>
				<div class="description<% if ( projectData.singlecolumn == "TRUE"){ %> singleColumn<% } %>">
					<%- projectData.descriptionSplit %>
				</div>

				<div id='menuBar'>
					<ul>
						<a href='/'><li>Home</li></a>
						<a href=''><li>Portfolio</li></a>
						<a href=''><li>About</li></a>
						<a href='https://twitter.com/drawinghands'><li>Twitter</li></a>
					</ul>
				</div>
			</div>
			<a href='' id='prev'><div></div></a>
			<a href='' id='next'><div></div></a>
		</div><!-- container -->
		<% include partials/template/scripts.ejs %>
		<script type="text/javascript">
			$('#prev').prop('href', '/<%= previousProject %>');
			$('#next').prop('href', '/<%= nextProject %>');

			//Dropdown navigation
			$("#about h3" ).click(function() {
				$( "#about .menuBox" ).slideToggle("drop");
			});
			$("#header h3" ).click(function() {
				$( "#header .menuBox" ).slideToggle("drop");
			});

		</script>
	</body>
</html>
